@model nmct.ssa.cashlesspayment.Models.Organisatie
@{
    ViewBag.Title = "NewOrganisation";
}
<h2 style="color:red;">@ViewBag.Error</h2>
<h2>Organisatie</h2>
<h3>Voeg hier een nieuwe organisatie toe.</h3>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(model => model.Login)    <br />
    @Html.EditorFor(model => model.Login)    <br />
    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })   <br />

    @Html.LabelFor(model => model.Password)    <br />
    @Html.EditorFor(model => model.Password)    <br />
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })    <br />

    @Html.LabelFor(model => model.DbName)    <br />
    @Html.EditorFor(model => model.DbName)    <br />
    @Html.ValidationMessageFor(model => model.DbName, "", new { @class = "text-danger" })    <br />

    @Html.LabelFor(model => model.DbLogin)    <br />
    @Html.EditorFor(model => model.DbLogin)    <br />
    @Html.ValidationMessageFor(model => model.DbLogin, "", new { @class = "text-danger" })    <br />
    
    @Html.LabelFor(model => model.DbPassword)    <br />
    @Html.EditorFor(model => model.DbPassword)    <br />
    @Html.ValidationMessageFor(model => model.DbPassword, "", new { @class = "text-danger" })    <br />

    @Html.LabelFor(model => model.OrganisationName)    <br />
    @Html.EditorFor(model => model.OrganisationName)    <br />
    @Html.ValidationMessageFor(model => model.OrganisationName, "", new { @class = "text-danger" })    <br />

    @Html.LabelFor(model => model.Address)    <br />
    @Html.EditorFor(model => model.Address)    <br />
    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })    <br />

    @Html.LabelFor(model => model.Email)    <br />
    @Html.EditorFor(model => model.Email)    <br />
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })    <br />
    
    @Html.LabelFor(model => model.Phone)    <br />
    @Html.EditorFor(model => model.Phone)    <br />
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })    <br />
    <br />
    <input type="submit" value="Opslaan" class="btn btn-default" />
}
